<h1>Create new quote</h1>


<form action="/quotes" method="POST">

  <label for="artist">Artist: </label>
  <input type="text" name="artist" id="artist">

  <label for="songName">Song: </label>
  <input type="text" name="songName" id="songName">

  <label for="quoteContent">Quote: </label>
  <textarea type="text" name="quoteContent" id="quoteContent" > </textarea>

  <button type="submit">Create Quote</button>

</form>